$icon-font-path: '../fonts/';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

@import "variables";


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "darkly";
body {
  padding: 5vw;
  // background-image: url(../images/elem.svg);
  // background-position: bottom right;
  // background-repeat: no-repeat;
  // background-size: 300%;
  // height: 100vh;
  background: $brand-success;
}

* {
  // font-size: 120%!important;
}
.temp {
  max-width: 360px;
}

@media (max-width: $screen-sm) {
  //a
}

h1 {
  text-transform: uppercase;
}
.text-muted {
  color: rgba($gray-base, 0.5);
}

.links {
  li > a {
    color: rgba($gray-base, 0.5);
    text-decoration: none;
    transition: all 0.25s ease;
    &:hover {
      color: $gray-base;
    }
  }
}
